.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
 
  }
    .h1BlcokTag{
    font-size: 3rem;

  }
  .h2BlcokTag{
    font-size: 2rem;

  }
  .h3BlcokTag{
    font-size: 1rem;

  }

  .codeBlock{
    background-color: #999;
    font-family: monospace;
    background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  
  }
  

  .b{
    color:#1fb6ff;
    font-weight : bold;
    
  }

   .b2{
  color: #1f2d3d;
   
    font-weight : bold;
 

    
  }

  .note{
    border-left:3px solid #67c5ff;
    margin-right:20px;
    height:20px;
    display: flex;
    padding:1rem;
    align-items: center;
    background-color: #F8F9FA;
    line-height: 2rem;
  }